@import 'reset';
@import 'variables';

.container {
    width: 81% !important;
    margin: auto;
}

body{
    font-family: Montserrat;
}

.header{ 
    display: inline-flex;
    width: 85%;
    justify-content: space-around;
    align-items: center; 
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 2;
    
    &__logo{
        font-weight: 600;
        font-size: 28px;
    }

    &__nav{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            list-style: none;
            
            li{
                cursor: pointer;
                padding: 0 20px;
                font-size: 18px;
                transition: all ease 0.8s;
                -webkit-transition: all ease 0.8s;
                -moz-transition: all ease 0.8s;
                -ms-transition: all ease 0.8s;
                -o-transition: all ease 0.8s;
                
                &:hover{
                    color:$primary;
                }
                &:first-child{
                    color:$primary;
                }
}
        }
    }

    &__login{
        outline: none;
        border: none;
        padding: 10px 15px;
        color: $white;
        background-color: $primary;
        transition: all ease 0.6s;
        border: 2px solid $primary;
        
        &:hover{
            transition: all ease 0.6s;
            color: $primary;
            background-color: $white;
        }
    }
}

.indexSection{
    background-image: url('/dist/assets/img/bg.png');
    height: 465px;
    width: 100%;
    padding-top: 154px;
    position: relative;

    .container{
        display: flex;
    }

    &__content{
        flex-grow: 1;
        flex-basis: 60%;
        &--title{
            width: 50%;
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 100px;

            span{
                color: $primary;
            }
        }

        &--description{
            margin-top: 20px;
            width: 50%;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
        }

        &--button{
            margin-top: 20px;
            outline: none;
            border: none;
            padding: 10px 30px;
            color: $white;
            background-color: $primary;
        }
    }

    &__picture{
        position: relative;
        flex-grow: 2;
        flex-basis: 40%;
        &--img{
            position: absolute;
            top: 29px;
            left: 20px;
            width: 383px;
            img{
                width: 100%;
            }
        }
        &--shape{
            width: 240px;
            img{
                width: 100%;
            }
        }
    }
}

.team{
    padding-top: 130px;

    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
        position: relative;
        padding-left: 40px;

        &::before{
            position: absolute;
            content: "";
            width: 30px;
            height: 2px;
            background-color: $primary;
            top: 18px;
            left: 0;    
        }
    }

    &__ourTeam{
        display: flex;
        align-items: center;

        &--content{
            width: 380px;
            height: 399px;
            flex-basis: 652px;
            background-image: url('/dist/assets/img/shape.svg');
            padding: 25px 50px;

            span{
                font-style: normal;
                font-weight: 700;
                font-size: 250px;
                // -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px $white;
            }

            p{
                color: $white;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                // padding-right: 30px;
            }
        }

        &--img{
            display: flex;
            flex-wrap: wrap;

            div{
                width: 225px;
                height: 225px;
                position: relative;
                transition: all .5s !important;
                &:hover{
                    transition: all .5s !important;
                    // transform: rotate(20deg);
                } 
                
                &:hover::after{
                    transition: background-color 0.5s !important;
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: $primary;
                    opacity: 0.6;
                }

                img{
                    width: 100%;
                }

                span{
                    display: none;
                    z-index: 2;
                    width: 20px;
                    color: $white;
                    position: absolute;
                    top: 65%;
                    left: 20px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 20px;
                }

                &:hover span{
                    display: inline-block;
                }

                small{
                    display: none;
                    z-index: 2;
                    width: 20px;
                    color: $white;
                    position: absolute;
                    top: 85%;
                    left: 20px;
                    font-style: normal;
                    font-size: 14px;
                    line-height: 20px;
                }

                
                &:hover small{
                    display: inline-block;
                }
            }
        }
    }
}

.comment{
    padding-top: 200px;

    &__header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        margin-left: 17px;

        &--title{
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            position: relative;

            &::before{
                position: absolute;
                content: "";
                width: 30px;
                height: 2px;
                background-color: $primary;
                top: 18px;
                left: -40px;    
            }
        }

        &--circle{
            display: flex;
            
            span{
            &:first-child{
            background-color: $primary
            }
            margin: 0 2px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $gray
            }
        }
    }

    &__card{
        display: flex;
        margin-top: 40px;
        margin-left: 145px;

        .cart{
            box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.1);
            width: 280px;
            height: 225px;
            padding: 22px;
            margin-right: 30px;

            &__header{
                display: flex;
                align-items: center;
                padding-bottom: 30px;

                img{
                    padding-right: 10px;
                    width: 60px;
                    height: 60px;
                    border-radius: 30px;
                }

                &--title{
                    .name{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .description{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: $gray;
                    }
                }
            }

            &__body{
                p{
                    width: 275px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: $dark-gray;
                    margin-bottom: 30px;
                }

                &--stars{
                    span{
                        width: 20px;
                        height: 18.6px;
                    }
                }
            }
        }
    }

    &__btn{
        display: flex;
        margin-top: 40px;
        margin-left: 145px;

        &--prev{
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background-color: $primary;
            color: $white;

            i{
                font-size: 18px;
                font-weight: bold;
            }
        }

        &--next{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background-color: $primary;
            color: $white;

            i{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.ourWork{
    background-image: url('/dist/assets/img/bg.png');
    height: 100%;
    width: 100%;
    margin-top: 200px;
    padding-bottom: 50px;

    &__headerTitle{
        padding: 90px 0;
        h2{
            position: relative;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            margin-left: 40px;

            &::before{
                position: absolute;
                content: "";
                width: 30px;
                height: 2px;
                background-color: $primary;
                top: 18px;
                left: -50px;    
            }
        }

        
    }

    &__titles{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $light-gray;
        padding-bottom: 40px;

        &--title{
            display: flex;
            align-items: center;
            width: 339px;
            position: relative;

            .title__desc{
                width: 50% !important;
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                z-index: 2;
                width: 100px;
            }

            .title__number{
                font-weight: 700;
                font-size: 52px;
                line-height: 28px;
                color: $light-gray;
                position: absolute;
                left: 125px;
            }
        }

        &--title:nth-child(2){
            .title__number{
                left: 55px;
            }
        }
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        
        &--card{
            display: flex;
            margin: 50px 65px 0 0;

            .squad{
                margin-top: 10px;
                margin-right: 20px;
                width: 4px;
                height: 4px;
                border: 5px solid $primary;
            }

            .line{
                margin-top: 10px;
                margin-right: 20px;
                margin-left: 5px;
                width: 2px;
                height: 180px;
                background-color: $light-gray;
            }

            .card-title{
                color: $black;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                width: 160px;
                margin-bottom: 20px;
            }

            .card-description{
                p{
                    margin-bottom: 20px;
                    width: 310px;
                }
            }
        }
    }
}

.contact{
    position: relative;
    height: 80vh;

    &__form{
        width: 762px;
        height: 292px;
        position: absolute;
        left: 264px;
        top: 65px;
        padding: 40px;
        box-sizing: border-box;
        z-index: 2;
        background: $white;
        box-shadow: -10px 10px 50px rgba(13, 107, 106, 0.08);

        &--title{
            margin-bottom: 60px;
            width: 515px;
            color: $black;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
        }

        &--control{
            input{
                width: 445px;
                height: 38px;
                padding: 15px;
                box-sizing: border-box;
            }
            button{
                width: 105px;
                height: 38px;
                color: $white;
                border: 2px solid $primary;
                outline: none;
                background-color: $primary;
            }
        }
    }

    &__picture{
        position: absolute;
        top: -250px;
        right: 200px;
        width: 755px;
        height: 500px;  
        
        img{
            width: 100%;
        }
    }
}

.footer{
    height: 576px;
    background: $primary;
    position: relative;

    &__line{
        width: 100%;
        position: absolute;
        top: 50px;
    }

    h3{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 30px;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: $white;
    }

    P{
        width: 50%;
        margin: auto;
        color: $light-gray;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    &__socials{
        margin-top: 40px;
        display: flex;
        justify-content: center;

        &--icon{
            width: 30px;
            height: 30px;
            background-color: $gray;
            opacity: 0.7;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            i{
                color: $white;
            }
        }
    }

    ul{
        color: $white;
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
    }

    .footerContact{
        margin-top: 100px;
        display: flex;
        justify-content: space-around;

        .contactUs{
            display: flex;
            
            .footer__phone{
                display: flex;
                align-items: center;
                margin-right: 30px;
                
                .icon{
                    width: 30px;
                    height: 30px;
                    background-color: $gray;
                    opacity: 0.7;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
        
                    i{
                        color: $white;
                    }
                }

                .content{
                    display: flex;
                    flex-direction: column;
                    
                    .text{
                        color: $light-gray;
                    }

                    .number{
                        color: $white;
                    }
                }
            }
            
            .footer__mail{
                display: flex;
                align-items: center;
                margin-right: 30px;
                
                .icon{
                    width: 30px;
                    height: 30px;
                    background-color: $gray;
                    opacity: 0.7;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
        
                    i{
                        color: $white;
                    }
                }

                .content{
                    display: flex;
                    flex-direction: column;
                    
                    .text{
                        color: $light-gray;
                    }

                    .mail{
                        color: $white;
                    }
                }
            }
        }

        .footer__copyright{
            color:$light-gray;
        }
    }
}