.comment {
  @include for-size(phone-only) {
    padding-top: 80px;
    margin-left: 19px;
    margin-bottom: 80px;
  }
  padding-top: 200px;

  &__header {
    @include for-size(phone-only) {
      margin-bottom: 32px;
      margin-left: 42px;
      margin-right: 16px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    margin-left: 183px;

    &--title {
      @include for-size(phone-only) {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
      }
        font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: $primary;
        top: 18px;
        left: -40px;
      }
    }

    &--circle {
      display: flex;

      @include for-size(phone-only) {
        display: none;
      }

      span.pagination {
          &:first-child {
          background-color: $primary;
        }

        margin: 0 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $gray
      }
    }
  }

  &__card {
    @include for-size(phone-only) {
      width: 100% !important;
    }
    margin-top: 40px;
    height: 310px;
    width: 90% !important;
    margin-right: 0;
  }

  &__btn {
    @include for-size(phone-only) {
      justify-content: center;
    }

      display: flex;
    margin-top: 40px;

    &--prev {
      margin-right: 5px;
    }
  }
}