.header {
  @include for-size(phone-only){
    display: none;
  }
  display: inline-flex;
  width: 84%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 81px;
  z-index: 2;

  &__logo {
    font-weight: 600;
    font-size: 28px;
  }

  &__nav {
    ul {
      li {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.responsive__header {
  @include for-size(phone-only) {
    display: block;
    background-image: url('/dist/assets/img/bg.png');
  }
    .humburgerIcon{
      width: 40px;
      height: 40px;
      padding: 8px;
    }

    display: none;
}

.show{
  transform: translate(0px, -58px) !important;
  transition: all 0.5s ease !important;
}

.overlay{
  left: 0;
  background: rgba(0, 0, 0, 0.72);
  top: 0;
  width: 101%;
  height: 101vh;
  position: fixed;
}

.responsive__navigation{
  @include for-size(phone-only) {
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
  }

  transition: all 0.5s;
  display: flex;
  height: 100%;
  position: fixed;
  width: 80%;
  background: $white;
  transform: translate(-300px,-60px);
  z-index: 3;

  &--header{
    background-image: url("/dist/assets/img/bg.png");
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-brand{
      padding-left: 20px;
    }
  }

  ul {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    li{
      width: 100%;
      padding: 15px 0 15px 20px;
      box-sizing: border-box;
      font-weight: bolder;

      &:hover{
        color:$primary;
        background-color: $light-gray;
      }
    }
  }

  &--login{
    justify-content: center;
  }
}