.ourWork {
  background-image: url('/dist/assets/img/bg.png');
  height: 100%;
  width: 100%;
  margin-top: 200px;
  padding-bottom: 50px;

  &__headerTitle {
    padding: 90px 0;

    h2 {
      position: relative;
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      margin-left: 40px;

      &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 2px;
        background-color: $primary;
        top: 18px;
        left: -50px;
      }
    }


  }

  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $light-gray;
    padding-bottom: 40px;

    &--title {
      display: flex;
      align-items: center;
      width: 339px;
      position: relative;

      .title__desc {
        width: 50% !important;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        z-index: 2;
        //width: 100px;
      }

      .title__number {
        font-weight: 700;
        font-size: 52px;
        line-height: 28px;
        color: $light-gray;
        position: absolute;
        left: 125px;
      }
    }

    &--title:nth-child(2) {
      .title__number {
        left: 55px;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;

    &--card {
      display: flex;
      margin: 50px 65px 0 0;

      .squad {
        margin-top: 10px;
        margin-right: 20px;
        width: 4px;
        height: 4px;
        border: 5px solid $primary;
      }

      .line {
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 5px;
        width: 2px;
        height: 180px;
        background-color: $light-gray;
      }

      .card-title {
        color: $black;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        width: 160px;
        margin-bottom: 20px;
      }

      .card-description {
        p {
          margin-bottom: 20px;
          width: 310px;
        }
      }
    }
  }
}